body {
	background-image: url("https://wallpaperaccess.com/full/5651980.jpg");
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.background-image{
	background-image: url("https://wallpaperaccess.com/full/5651980.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;

}

.topnav {
  overflow: hidden;
  background-color: #009999;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 13px 15px;
    text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fdfd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.title{
margin: 0px;
background-color: #6fa0db;
font-size: 20px;
font-family: the-times-roman;
text-align: center;
}
.introduction> h3{
	text-align: center;
}
p{
margin: 2px;
padding: 5px;
}
.qualifications table{
border-radius: 10px;
}
.hobby{
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;

}
.media{
margin: 0px;
background-color: #6fa0db;
font-size: 20px;
font-family: the-times-roman;
}
.audio{
text-decoration: none;
pading: 5px;
font-size: 20px;
}
.container > h2{
margin: 1px;
background-color: #6fa0db;
font-size: 30px;
font-family: the-times-roman;	

}
.container{
	width: 100%;
text-align: center;
}
.top-content{
	background-color: rgb(243,243,243);
	width: 90%;
	margin: 0 auto 20px auto;
	height: 60px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	box-shadow: 3px 3px 5px lightgray;
}
.h3{
	height: 100%;
	background-color: rgb(221,221,221);
	line-height: 60px;
	padding: 0 50px;
	color: white;
}
label{
	display: inline-block;
	height: 100%;
	margin: 0 20px;
	line-height: 60px;
	font-size: 18px;
	color: gray;
	cursor: pointer;
	transition: color .5s;
}
label:hover{
	color: black;
}
.photo-gallery{
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 20px;
}
.pic{
	position: relative;
	height: 230px;
	border-radius: 10px;
}
.pic img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.contact{
	background-color: #6fa0db;
}
.movie{
	margin: 10px;
	width: 1080px;
	height: 720px;
}
audio{
	margin: 10px;
	width: 400px;
	height: 30px;
}
h2{
	margin: 5px;
}